@import "tailwindcss";

@layer base {
    :root {
        --background: #f5f5f5;
        --foreground: #0a0a0a;
        --card: #f5f5f5;
        --card-foreground: #0a0a0a;
        --popover: #ffffff;
        --popover-foreground: #0a0a0a;
        --primary: #0a0a0a;
        --primary-foreground: #ffffff;
        --secondary: #f5f5f5;
        --secondary-foreground: #0a0a0a;
        --muted: #f5f5f5;
        --muted-foreground: #737373;
        --accent: #f5f5f5;
        --accent-foreground: #0a0a0a;
        --destructive: #ef4444;
        --destructive-foreground: #ffffff;
        --border: #e5e5e5;
        --input: #e5e5e5;
        --ring: #0a0a0a;
        --radius: 0.5rem;
    }

    .dark {
        --background: #0a0a0a;
        --foreground: #ffffff;
        --card: #0a0a0a;
        --card-foreground: #ffffff;
        --popover: #0a0a0a;
        --popover-foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #0a0a0a;
        --secondary: #262626;
        --secondary-foreground: #ffffff;
        --muted: #262626;
        --muted-foreground: #a3a3a3;
        --accent: #262626;
        --accent-foreground: #ffffff;
        --destructive: #7f1d1d;
        --destructive-foreground: #ffffff;
        --border: #262626;
        --input: #262626;
        --ring: #d4d4d4;
    }
}

@layer base {
    * {
        border-color: var(--border);
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}

/* Lenis Recommended Styles */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}